<% provide(:title,"Contact")%>
<h1>Contact</h1>

<p>
	<h3><b>SON</b></h3>
	<h4><b>K56 HEDSPI - HUST</b></h4><br>
	Email: <a href="lehongson.bkvn@gmail.com">lehongson.bkvn@gmail.com</a><br>
	Facebook: <a href="https://www.facebook.com/soi.gia.509">Facebook</a>
</p>
